global_defs {
    vrrp_version 3
}

vrrp_script chk_nginx_service {
    script   "/usr/bin/killall -0 nginx"
    interval 3
    weight   1000
}

vrrp_instance VI_1 {
    interface                  enp0s8
    priority                   51
    virtual_router_id          51
    advert_int                 1
    accept
    garp_master_refresh        5
    garp_master_refresh_repeat 1

    virtual_ipaddress {
        {{ virtual_ip }}
    }

    track_script {
        chk_nginx_service
    }
}

